In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
'''
Q1. What are the characteristics of the tuples? Is tuple immutable?
-enclsosed withing parenthesis
- immutable
- unordered
- indexing is followed
'''

'\nQ1. What are the characteristics of the tuples? Is tuple immutable?\n-enclsosed withing parenthesis\n- immutable\n- unordered\n- indexing is followed\n'

In [3]:
t = (1,2,3,4,5,6,7)

In [4]:
t[0]

1

In [5]:
t[0:9]

(1, 2, 3, 4, 5, 6, 7)

In [6]:
t[0]= 9090

TypeError: 'tuple' object does not support item assignment

In [7]:
t0=(9,18,-1,90)

In [8]:
t0

(9, 18, -1, 90)

In [9]:
t00 = (9,8,7,10)

In [10]:
t00

(9, 8, 7, 10)

In [ ]:
'''
Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists.
- the 2 tuple methods are index() and count()
- they hv only 2 methods as a tuple cannot be mutated, hence, functions like append(), insert(),
or replace, etc cannot be implied

'''

In [15]:
l1 = [1,1,1,1,2,3,4,5,6]

In [19]:
l1.insert(0,9)

In [20]:
l1

[9, 1, 1, 1, 1, 2, 3, 4, 5, 6]

In [11]:
t90 = (1,2,3,4,5,6,6,6,6,6,6,6,7)

In [13]:
t90.index(7)

12

In [14]:
t90.count(6)

7

In [21]:
'''
Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
- set is a datatype which doesnt allow duplicate items
'''

'\nQ3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove\nduplicates from the given list.\nList = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]\n- set is a datatype which doesnt allow duplicate items\n'

In [22]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [23]:
set(List)

{1, 2, 3, 4}

In [ ]:
'''
Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.
-union() tends to unite the element of 2 sets and merge them at a single set, but doent make
permanent changes in set1 or set2
- update(): updates the elemnts of one set wrt the other
'''

In [24]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {11,1,12,13,14,15,18,20}

In [25]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18, 20}

In [26]:
set1.update(set2)

In [27]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18, 20}

In [28]:
set2

{1, 11, 12, 13, 14, 15, 18, 20}

In [29]:
'''
Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.
-An unordered key - value pairs enclosed within {}

'''

'\nQ5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.\n-An unordered key - value pairs enclosed within {}\n\n'

In [30]:
dictt = {'key1' : 'Value1','key2' : 'Value2','key3' : 'value3'}

In [ ]:
'''
Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.
'''

In [ ]:
'''
Nested Dictionary
'''

In [31]:
dict1 = {'key1':{'name':'devanshi','age':21},'key2':{'person1':'value1'}}

In [32]:
dict1.keys()

dict_keys(['key1', 'key2'])

In [34]:
dict1['key1']['name']

'devanshi'

In [ ]:
'''
Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learning’, 'Deep Learning']
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
'''

In [35]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [36]:
listt=['Python', 'Machine Learning', 'Deep Learning']

In [37]:
dict1.setdefault('Topics',listt)

['Python', 'Machine Learning', 'Deep Learning']

In [38]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'Topics': ['Python', 'Machine Learning', 'Deep Learning']}

In [39]:
'''
Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.
- the three view objects in a dictionary are -
key view
value view
items view
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
'''

"\nQ8. What are the three view objects in dictionaries? Use the three in-built methods in python to display\nthese three view objects for the given dictionary.\ndict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}\n"

In [40]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [41]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [42]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [43]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

In [44]:
'''
Q1. Which keyword is used to create a function? Create a function to return a list of odd numbers in the
range of 1 to 25.
- def is used to create a function

'''

'\nQ1. Which keyword is used to create a function? Create a function to return a list of odd numbers in the\nrange of 1 to 25.\n- def is used to create a function\n\n'

In [45]:
def funct():
    odd_list = []
    for i in range(1,26):
        if i%2!=0:
            odd_list.append(i)
    return odd_list

In [46]:
funct()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

In [47]:
'''
Q2. Why *args and **kwargs is used in some functions? Create a function each for *args and **kwargs to
demonstrate their use.
-*args is used to take multiple arguments as an input in a function
-kwargs takes multiple key-value arguments as an input in a function
'''

'\nQ2. Why *args and **kwargs is used in some functions? Create a function each for *args and **kwargs to\ndemonstrate their use.\n-*args is used to take multiple arguments as an input in a function\n-kwargs takes multiple key-value arguments as an input in a function\n'

In [48]:
def fun_args(*args):
    return sum(args)

In [49]:
def fun_kwargs(**kwargs):
    return kwargs.keys(), kwargs.values()

In [51]:
fun_args(1,2,3,4,5,6,7,8,9,10)

55

In [52]:
fun_kwargs(name='Devanshi',age=21,color='pink',likes='ice cream')

(dict_keys(['name', 'age', 'color', 'likes']),
 dict_values(['Devanshi', 21, 'pink', 'ice cream']))

In [53]:
'''
Q3. What is an iterator in python? Name the method used to initialise the iterator object and the method
used for iteration. Use these methods to print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14, 16,
18, 20
- iter() and next() are used to initialise an iterator
'''

'\nQ3. What is an iterator in python? Name the method used to initialise the iterator object and the method\nused for iteration. Use these methods to print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14, 16,\n18, 20\n'

In [54]:
list5=[2, 4, 6, 8, 10, 12, 14, 16,18, 20]

In [55]:
it = iter(list5)

In [56]:
for i in range(1,6):
    nex = next(it)
    print(nex)

2
4
6
8
10