In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
listy = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [3]:
sort_data = sorted(listy, key = lambda a : a[1])

In [4]:
sort_data

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [5]:
'''
Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
'''

'\nQ2. Write a Python Program to find the squares of all the numbers in the given list of integers using\nlambda and map functions.\n[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]\n'

In [6]:
listy=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
list(map(lambda a : a**2,listy))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
'''
Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
'''

In [8]:
s=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
tuple(map(lambda a: str(a),s))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
'''
Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.
'''

In [11]:
l = range(1,26)

In [12]:
from functools import reduce

In [13]:
reduce(lambda a,b : a*b,l)

15511210043330985984000000

In [ ]:
'''
Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
'''

In [16]:
fl = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [19]:
list(filter(lambda a : a%2==0 and a%3==0,fl))

[6, 60, 90, 120]

In [ ]:
'''
Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']
'''

In [31]:
list(filter(lambda x : list(reversed(x)) == list(x),l))

['php', 'aba', 'radar', 'level']

In [30]:
l = ['python', 'php', 'aba', 'radar', 'level']