In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
listy = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [3]:
sort_data = sorted(listy, key = lambda a : a[1])

In [4]:
sort_data

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [5]:
'''
Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
'''

'\nQ2. Write a Python Program to find the squares of all the numbers in the given list of integers using\nlambda and map functions.\n[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]\n'

In [6]:
listy=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
list(map(lambda a : a**2,listy))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
'''
Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
'''

In [8]:
s=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
tuple(map(lambda a: str(a),s))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
'''
Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.
'''

In [11]:
l = range(1,26)

In [12]:
from functools import reduce

In [13]:
reduce(lambda a,b : a*b,l)

15511210043330985984000000

In [ ]:
'''
Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
'''

In [16]:
fl = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [19]:
list(filter(lambda a : a%2==0 and a%3==0,fl))

[6, 60, 90, 120]

In [ ]:
'''
Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']
'''

In [31]:
list(filter(lambda x : list(reversed(x)) == list(x),l))

['php', 'aba', 'radar', 'level']

In [30]:
l = ['python', 'php', 'aba', 'radar', 'level']

In [32]:
'''
Explain Class and Object with respect to Object-Oriented Programming. Give a suitable example.
- In object-oriented programming (OOP), a class is a blueprint or a template that defines the 
properties and behaviors of an object. It serves as a blueprint for creating instances of objects, 
which are known as objects or instances of the class. A class encapsulates data (attributes) and 
functions (methods) that operate on that data, providing a structure for organizing and managing code.

An object, on the other hand, is a specific instance of a class. It represents a unique entity 
that has its own state (values of attributes) and behavior (methods). Objects are created based on 
the defined class and can interact with each other by invoking methods and accessing attributes.
'''

'\nExplain Class and Object with respect to Object-Oriented Programming. Give a suitable example.\n- In object-oriented programming (OOP), a class is a blueprint or a template that defines the \nproperties and behaviors of an object. It serves as a blueprint for creating instances of objects, \nwhich are known as objects or instances of the class. A class encapsulates data (attributes) and \nfunctions (methods) that operate on that data, providing a structure for organizing and managing code.\n\nAn object, on the other hand, is a specific instance of a class. It represents a unique entity \nthat has its own state (values of attributes) and behavior (methods). Objects are created based on \nthe defined class and can interact with each other by invoking methods and accessing attributes.\n'

In [33]:
'''
Q2. Name the four pillars of OOPs.
The four pillars of OOPS are :
1- Encapsulation
2- Inheritance
3 - Abstarction
4 - Polymorphism
'''

'\nQ2. Name the four pillars of OOPs.\nThe four pillars of OOPS are :\n1- Encapsulation\n2- Inheritance\n3 - Abstarction\n4 - Polymorphism\n'

In [ ]:
'''
Q3. Explain why the __init__() function is used. Give a suitable example.
__init__() method is used to take parameters during class creation
'''

In [34]:
class hello:
    def __init__(self,hello,hi):
        self.hello = hello
        self.hi = hi
    def return_par(self):
        return self.hello, self.hi

In [36]:
obj = hello('Greetings','Salutations')

In [37]:
obj.hello

'Greetings'

In [38]:
obj.hi

'Salutations'

In [39]:
obj.return_par()

('Greetings', 'Salutations')

In [ ]:
'''
Q4. Why self is used in OOPs?
self binds a function to that specific class
'''

In [ ]:
'''
Q5. What is inheritance? Give an example for each type of inheritance.
- the process in which one class inherits the functions and properties of another class
- ie. from parent class to child class, is known as inheritance
'''

In [40]:
class parent:
    def p1(self):
        return 'This is a function of the parent class'
    def p2(self):
        return 'This is the 2nd function of the parent class'
    def p3(self):
        return 'This is the 3rd function of the parent class'

In [44]:
class child(parent):
    def c1(self):
        return 'This is the function of the child class'
    def c2(self):
        return 'This is the 2nd function of the child class'

In [42]:
obj1 = parent()

In [45]:
obj2 = child()

In [46]:
obj2.p1()

'This is a function of the parent class'

In [47]:
obj2.p2()

'This is the 2nd function of the parent class'

In [48]:
obj2.p3()

'This is the 3rd function of the parent class'